body{
	background-color: #fff;
}
.titleP{
	font-size: 0.32rem;
}
form{
	width: 7.2rem;
	height: 3rem;
	margin: 0 auto;
	padding-top: 1rem;
	border: 1px dashed #E185AF;
}
.chooseImg{
	height: 0.75rem;
	font-size: 0.32rem;
}
.submitImg{
	margin-top: 1rem;
	width: 1rem;
	height: 0.5rem;
	font-size: 0.32rem;
}
.img_wrap{
	width: 5rem;
	
}
