body{
	background-color: #fff;
}
.titleP{
	font-size: 0.32rem;
}
form{
	width: 7.2rem;
	height: 3rem;
	margin: 0 auto;
	padding-top: 1rem;
}
.chooseImg{
	height: 0.75rem;
	font-size: 0.32rem;
}
.submitImg{
	height: 0.75rem;
	font-size: 0.32rem;
}
